* {
  font-family: Quicksand, sans-serif;
}

.full_width {
  width: 100%;
  height: 300px;
}

.navbar {
  position: fixed;
  margin: -1em;
  width: 100%;
  z-index: 99;
  margin-bottom: 8em;
  background: white;
  display: block;
}

.navbar-list {
  list-style-type: none;
  margin: 2em 0 2em 0;
  padding: 0;
}

.navbar-item {
  display: inline;
  width: 8em;
  padding: 0 0 0 1em;
}

.navbar-item > a {
  text-decoration: none;
}

.clear-navbar {
  padding: 2em;
  margin: 1em;
}

a {
  text-decoration: none;
}
