* {
  font-family: Quicksand, sans-serif;
  /*background-color: rgba(70, 0, 123, 0.2)*/
}

a {
  text-decoration: none;
}

#search {
  width: 25em;
  margin-left: 5em;
}

#search-nav {
  display: inline-block;
}

#search-results-card {
  display: block;
  background-color: #fff;
  height: 3em;
  width: 25em;
  padding: 0.5em;
  margin: 0 0 0.5em 0;
  border: 1px solid #eee;
  border-radius: 0.5em;
  box-shadow: 0px 4px 2px 0px rgba(0,0,0,0.25);
}

.search-results-text {
  font-size: 0.8em;
}

.full_width {
    width: 100%;
    height: 300px;
}

.navbar {
  position: fixed;
  margin: -1em;
  width: 100%;
  height: 5em;
  z-index: 99;
  background: white;
  display: block;
}

.clear-navbar {
  height: 6em;
}

.navbar-list {
    list-style-type: none;
    margin: 2em 0 2em 0;
    padding: 0;
}

.navbar-item {
    display: inline;
    padding: 0 0 0 1em;
}

.navbar-item>a {
    text-decoration: none;
}

.card {
  display: inline-block;
  height: 500px;
  width: 300px;
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 0.5em;
  margin-bottom: 2em;
  margin-left: 2em;
  box-shadow: 0px 5px 3px 0px rgba(0,0,0,0.25);
}

.card-text {
  text-align: center;
}

.comment-card {
  display: inline-block;
  height: 150px;
  width: 450px;
  border: 1px solid #eee;
  border-radius: 0.5em;
  margin-bottom: 2em;
  margin-left: 2em;
  box-shadow: 0px 5px 3px 0px rgba(0,0,0,0.25);
  text-align: center;
}

.comment-header {
  padding-top: 1em;
  text-align: left;
  padding-left: 1.5em;
  margin-bottom: 0.5em;
}

.comment-input {
  width: 300px;
}

.infopanel {
    padding: 2em;
}

.sidepanel {
    padding: 2em;
}

.sidepanel__avatar {
    background-color: blue;
    width: 5em;
    height: 5em;
    border-radius: 50%;
    margin-bottom: 2em;
}

.sidepanel__fullName {
    margin: 0;
}

.sidepanel__username {
    margin: 0;
}

.sidepanel__follow {

    display: inline-block;
    font-size: 0.6em;
    margin-right: 1em;
    margin-bottom: 2em;
}

.btn-clear {
  position: absolute;
  margin-left: 295px;
  margin-top: -21px;
  padding: 16px 11px 19px 11px !important;
  border-radius: 50% !important;
  background-color: #FF7474;
  color: #fff !important;
  font-family: Verdana !important;
  font-size: 21px !important;
  font-weight: 300;
  height: 20px !important;
  text-align: center;
  line-height: 0px;
  letter-spacing: 0rem;
  text-transform: inherit;
  text-decoration: none;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
}

.graph {
  height: 200px;
  width: 290px;
}
