* {
  font-family: Quicksand, sans-serif;
}

.full_width {
  width: 100%;
  height: 300px;
}


.navbar {
  position: fixed;
  margin: -1em;
  width: 100%;
  z-index: 99;
  margin-bottom: 8em;
  background: white;
  display: block;
}

.navbar-list {
  list-style-type: none;
  margin: 2em 0 2em 0;
  padding: 0;
}

.navbar-item {
  display: inline;
  width: 8em;
  padding: 0 0 0 1em;
}

.navbar-item > a {
  text-decoration: none;
}

.clear-navbar {
  padding: 2em;
  margin: 1em;
}

a {
  text-decoration: none;
}

.stock-card {
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 1px solid black;
  text-align: center;
  margin-left: 2em;
}

.infopanel {
  padding: 2em;
}

.sidepanel {
  padding: 2em;
}

.sidepanel__avatar {
  background-color: lightblue;
  width: 5em;
  height: 5em;
  border-radius: 50%;
  margin-bottom: 2em;
}

.sidepanel__fullName {
  margin: 0;
}

.sidepanel__username {
  margin: 0;
}

.sidepanel__follow {
  display: inline-block;
  font-size: 0.6em;
  margin-right: 1em;
  margin-bottom: 2em;

}
